{% extends "Four026CabinetBundle:Default:bootstrap_base.html.twig" %}


{% block stylesheets %}
    {% stylesheets '@Four026CabinetBundle/Resources/public/css/cover.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block main_content %}
<div class="site-wrapper">

    <div class="site-wrapper-inner">

        <div class="cover-container">

            <div class="masthead clearfix">
                <div class="inner">
                    <h2 class="masthead-brand">The Archivist</h2>
                    <nav>
                        <ul class="nav masthead-nav">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Login</a></li>
                        </ul>
                    </nav>
                </div>
            </div>

            <div class="inner cover">
                <p class="lead">The Archivist is a story for 2-6 players, that plays out over 7 days.</p>
                <p>
                    <a href="#" class="btn btn-default">Learn more</a>
                </p>
                <p>
                    <a href="#" class="btn btn-primary">Sign up</a>
                    <a href="#" class="btn btn-success">Sign in</a>
                </p>

            </div>

        </div>

    </div>

</div>
{% endblock %}