container_commands:
  01CreateDB:
    command: "php app/console doctrine:database:create"
  02SetupDB:
    command: "php app/console doctrine:schema:update --force"
  03ClearCache:
    command: "php app/console cache:clear --env=prod --no-debug"
  04AsseticDump:
    command: "php app/console assetic:dump --env=prod --no-debug"
