container_commands:
  01DropDB:
    command: "php app/console doctrine:database:drop --force --env=prod"
  02CreateDB:
    command: "php app/console doctrine:database:create --env=prod"
  03SetupDB:
    command: "php app/console doctrine:schema:update --force --env=prod"
  04ClearCache:
    command: "php app/console cache:clear --env=prod --no-debug"
  05AsseticDump:
    command: "php app/console assetic:dump --env=prod --no-debug"
