container_commands:
  01CreateDB:
    command: "php app/console doctrine:database:create --env=prod"
    ignoreErrors: true
  02DiffDB:
    command: "php app/console doctrine:migrations:diff"
  03MigrateDB:
    command: "php app/console doctrine:migrations:migrate --no-interaction"
  04ClearCache:
    command: "php app/console cache:clear --env=prod --no-debug"
  05AsseticDump:
    command: "php app/console assetic:dump --env=prod --no-debug"
