security:
    encoders:
        Four026\CabinetBundle\Entity\WebUser:
            algorithm: bcrypt
            cost: 12

    role_hierarchy:
        ROLE_ADMIN:       ROLE_USER
        ROLE_SUPER_ADMIN: [ROLE_USER, ROLE_ADMIN, ROLE_ALLOWED_TO_SWITCH]

    providers:
        web_users:
            entity: { class: Four026CabinetBundle:WebUser, property: username }

    firewalls:
        dev:
            pattern:  ^/(_(profiler|wdt)|css|images|js)/
            security: false

        all:
            pattern:   ^/
            anonymous: ~
            form_login:
                csrf_provider: form.csrf_provider
                default_target_path: four026_cabinet_listDocuments

    access_control:
        - { path: ^/admin, roles: ROLE_USER }
        - { path: ^/desk, roles: ROLE_USER }