{% extends "Four026CabinetBundle:Default:cover.html.twig" %}

{% block circle_content %}

    <h3>Login</h3>

    <form id="form_login" action="{{ path('four026_cabinet_login_check') }}" method="post">
        <input type="text" id="username" name="_username" placeholder="Username" value="{{ last_username }}" />
        <input type="password" id="password" placeholder="Password" name="_password" />

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />

        {% if error %}
            <div class="alert alert-danger">{{ error.message }}</div>
        {% endif %}

        <button type="submit" class="btn btn-primary">Go</button>
    </form>



{% endblock %}