four026_cabinet_cover:
    path:     /
    defaults: { _controller: Four026CabinetBundle:Default:index }

four026_cabinet_login:
    path:     /login
    defaults: { _controller: Four026CabinetBundle:Default:login }

four026_cabinet_login_check:
    path:     /login_check

four026_cabinet_listDocuments:
    path:     /desk/{character_name}
    defaults: { _controller: Four026CabinetBundle:Default:listDocuments, character_name: Millicent }

four026_cabinet_read:
    path:     /desk/{character_name}/{document_name}
    defaults: { _controller: Four026CabinetBundle:Default:read }

#Account registration

show_registration_form:
    path:     /register
    defaults: { _controller: Four026CabinetBundle:Registration:showForm }

submit_registration_form:
    path:     /register/submit
    defaults: { _controller: Four026CabinetBundle:Registration:submitForm }

#Administration

admin_dashboard:
    path:     /admin/
    defaults: { _controller: Four026CabinetBundle:Administration:dashboard }

show_create_document_form:
    path:     /admin/createDocument
    defaults: { _controller: Four026CabinetBundle:Administration:showCreateDocumentForm }

submit_create_document_form:
    path:     /admin/createDocument/submit
    defaults: { _controller: Four026CabinetBundle:Administration:submitCreateDocumentForm }

show_create_note_form:
    path:     /admin/createNote
    defaults: { _controller: Four026CabinetBundle:Administration:showCreateNoteForm }

submit_create_note_form:
    path:     /admin/createNote/submit
    defaults: { _controller: Four026CabinetBundle:Administration:submitCreateNoteForm }